<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script
    src="http://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="script.js"></script>
</head>
<body>
<!-- <div class="container">
  <section>
    <h2>コンテンツを最初は非表示</h2>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#sample">コンテンツを開く </button>
    <div id="sample" class="collapse">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>アコーディオンの中身</h3>
          <p>コメントコメントコメントコメントコメントコメントコメント </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2>コンテンツを最初から表示</h2>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#sample2">コンテンツを開く </button>
    <div id="sample2" class="collapse in">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>アコーディオンの中身</h3>
          <p>コメントコメントコメントコメントコメントコメントコメント </p>
        </div>
      </div>
    </div>
  </section>
</div>
 -->
<div class="container">
  <h1>部支店の検索・一覧</h1>
  <table id="tasks-index" class="table table-striped">
    <thead>
      <tr>
        <th class="col">作業名</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2">入荷</td>
      </tr>
      <tr v-for="task in tasks" v-if="!task.isDeleted">
        <td class="pl-5">
          <div v-if="!task.edit" v-text="task.name"></div>
          <input v-if="task.edit" type="text" v-model="task.name" v-on:blur="task.edit = false" v-focus>
        </td>
        <td>
          <div class="button is-primary" v-on:click="editTask(task.id)">編集</div>
          <div class="button is-danger" v-on:click="deleteTask(task.id)">削除</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">作業項目</label>
            </div>
            <select id="inputGroupSelect01" v-model="newTask" class="form-control custom-select">
              <option v-for="task in tasks" v-if="!task.isDeleted && task.category == '入荷'" v-bind:value="`${task.name}`">{{task.name}}</option>
            </select>
            <input placeholder="作業項目名を入力" v-model="newTask" class="form-control">
          </div>

        </td>
        <td>
          <div class="button" v-on:click="createTask">作業項目を新規追加</div>
        </td>
      </tr>

    </tbody>
  </table>
<!-- 
  <div class="alert alert-success" role="alert">
    <strong>処理に成功しました。</strong>
  </div>
 --></div>
</body>
</html>
